@model IEnumerable<Negrea_Georgiana_MasterProiect.Models.ShopViewModels.OrderGroup>
@{
    ViewData["Name"] = "Ordered Boots Statistics";
}
<h2>Ordered Boots Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Boots
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.BootCount
            </td>
        </tr>
    }
</table>